ion-card {
    --background: #E2C0FC;
    margin: 5%;
    padding: 3%;
}

ion-label {
    color: #662D91;
}

ion-input {
    --background: #662D91;
    border-radius: 3px;
    color: white;
}

ion-icon {
    margin-left: 1pc;
    font-size: 2pc;
}

ion-button {
    margin-top: 1pc;
    --background: #662D91;
    color: #E2C0FC;
}