ion-card {
    --background: #24AAE4;
    margin: 5%;
    padding: 3%;
}

ion-label {
    color: white;
    ;
}

.iconosrojos {
    color: #E33E24;
}

ion-icon {
    color: white;
}

ion-input {
    --background: #E33E24;
    border-radius: 3px;
    color: white;
}

ion-icon {
    margin-left: 1pc;
    font-size: 2pc;
}

ion-button {
    margin-top: 1pc;
    --background: #E33E24;
    color: white;
}