ion-card {
    --background: #95E384;
    margin: 5%;
    padding: 3%;
}

ion-label {
    color: #129633;
}

ion-input {
    --background: #129633;
    border-radius: 3px;
    color: white;
}

ion-icon {
    margin-left: 1pc;
    font-size: 2pc;
}

ion-button {
    margin-top: 1pc;
    --background: #129633;
    color: #95E384;
}