<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="newspaper"></ion-icon> Sintomas </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let sintoma of sintoma; index as i;">
        <h1 class="Frecuencia">{{sintoma.frecuencia}}</h1>
        <h1 class="Nombre">{{sintoma.nombre}}</h1>

        <ion-item class="baseSintoma">
            <ion-icon name="newspaper" class="baseIcon"></ion-icon>

            <ion-button color="warning">
                <ion-icon name="create"></ion-icon>
            </ion-button>

            <ion-button color="primary" (click)="delete(i)">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-item>

    </ion-card>


    <ion-fab vertical="center " horizontal="end " slot="fixed ">
        <ion-fab-button (click)="openNewSintoma()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>