.cardSintoma {
    --background: #BAE9FF;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.baseSintomas {
    --background: #00acff;
    color: white;
}

img {
    float: left;
    width: 50%;
    margin: 1pc;
}

h1 {
    font-size: 100%;
    color: black;
}