ion-card {
    --background: #BAE9FF;
    margin: 5%;
    padding: 3%;
}

ion-label {
    color: #00acff;
}

ion-input {
    --background: #00acff;
    border-radius: 3px;
    color: white;
}

ion-icon {
    margin-left: 1pc;
    font-size: 2pc;
}

ion-button {
    margin-top: 1pc;
    --background: #00acff;
    color: #BAE9FF;
}