.Titulo {
    font-family: 'Times New Roman', Times, serif;
    background-color: #051F5C;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    color: white;
    margin-left: 1em;
    font-weight: bold;
}

.Texto {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
}

.Fecha {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1em;
}

img {
    width: 45%;
    float: left;
    margin: 1pc;
}