<ion-header>
    <ion-toolbar>

        <ion-title>
            <ion-icon name="newspaper"></ion-icon> Noticias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let notice of notices; index as i;" class="cardNoticias">
        <ion-card>

            <ion-card-header>
                <ion-card-title style="color:#662D91; font-size:2pc ;">{{notice.titulo}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        <img src="{{notice.imagen}}" alt="">
                        <h1>{{notice.texto}}</h1>
                    </ion-col>


                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item class="baseNoticias">
                            <ion-icon name="call"></ion-icon>
                            <ion-label>{{notice.fecha}}</ion-label>

                            <ion-button color="warning" (click)="toFormulario(i)" vertical="center" horizontal="end" slot="end">
                                <ion-icon name="create"></ion-icon>
                            </ion-button>

                            <ion-button color="primary" (click)="delete(i)" vertical="center" horizontal="end" slot="end">
                                <ion-icon name="trash"></ion-icon>
                            </ion-button>

                        </ion-item>
                    </ion-col>
                </ion-row>

            </ion-card-content>
        </ion-card>


    </div>






    <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openNewNotice()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>