.cardNoticias {
    --background: #E2C0FC;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.baseNoticias {
    --background: #662D91;
    color: white;
}

img {
    float: left;
    width: 50%;
    margin: 1pc;
}

h1 {
    font-size: 100%;
    color: black;
}