ion-icon {
    font-size: 250%;
}

#iconTitle {
    margin-left: 1%;
}

img {
    width: 35%;
    height: auto;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    justify-content: center;
    align-items: center;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ion-button {
    font-size: 90%;
    width: 30%;
    height: auto;
    --background: #FF6B07;
}

p {}