ion-icon {
    font-size: 250%;
}

#inicio {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 1%;
}

#botones {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#imgInicio {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#informacion {
    --background: #00ACFF;
}

#tienda {
    --background: #455A64;
}

#logo {
    width: 3pc;
    margin-left: 1pc;
    height: 3pc;
}

ion-button {
    font-size: 90%;
    margin-left: 2%;
    margin-right: 2%;
    width: 25pc;
    height: 10pc;
}