<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <img src="https://i.ibb.co/2Nzw2G1/Recurso-4-3x.png" alt="" id=logo>
            <ion-title>
                Inicio
            </ion-title>
        </ion-row>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="imgInicio">
        <img src="https://i.ibb.co/FsyL5Gt/Recurso-3-3x.png" alt="" id=inicio>
    </div>

    <div id=botones>


        <ion-button (click)=openProducts() id=tienda>
            <div>
                <img src="https://i.ibb.co/hR9sXC5/Recurso-2-3x.png" alt="">
            </div>
        </ion-button>

        <ion-button (click)=openCar() id=informacion>
            <div>
                <img src="https://i.ibb.co/64txjbM/INFORMACION-3x.png" alt="">
            </div>
        </ion-button>

    </div>



</ion-content>