.cardCentrosAtencion {
    --background: #F7CE4A;
    margin: 2%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.baseCentrosAtencion {
    --background: #AB8611;
    color: white;
}

.Texto {
    margin-left: 5%;
}

.Titulo {
    margin-left: 5%;
}

.baseIcon {
    color: white;
    margin-right: 84%;
}

img {
    width: 20%;
    border-radius: 10px;
    margin: 1pc;
    margin-left: 5%;
}

h1 {
    font-size: 100%;
    color: black;
}